@import '../../mixins/mixins';
@import '../../breakpoints/breakpoints';
@import '../../fonts/fonts';
@import '../../colors/colors';
@import '../../spacing/spacing';

.mobile-tech-stack {
    @include createDefaultContainer(100%, 10vh);
    padding: $padding-lg;
    margin-bottom: 50px;

    @media screen and (max-width: $breakpoint-sm) {
        padding: $padding-sm;
    }
    @media screen and (min-width: $breakpoint-md) {
        display: none;
    }

    .mobile-tech-stack-inner {
        @include centerInnerContainer(100%, 10vh);

        // @media screen and (max-width: $breakpoint-sm) {
        //     @include flexContainer(center, flex-start);
        // }

        .mobile-tech-stack-div {
            width: 100%;
            margin-bottom: 50px;

            .header {
                margin-bottom: 20px;

                .stack-header {
                    font-family: $primary-font;
                    font-size: 25px;

                    @media screen and (max-width: $breakpoint-sm) {
                        font-size: 20px;
                    }
                }
            }

            .images {

                .hover {
                    width: 50px;
                }
            }
        }
    }
}