
@import '../../mixins/mixins';
@import '../../breakpoints/breakpoints';
@import '../../fonts/fonts';
@import '../../colors/colors';
@import '../../spacing/spacing';

.count {
    @include createDefaultContainer(100%, 20vh);
    padding:  $padding-lg;
    background-color: $white;

    @media screen and (max-width: $breakpoint-sm) {
        padding: $padding-sm;
    }

    .count-inner {
        @include centerInnerContainer(100%, 20vh);
        @include gridContainer(2, 1);

        @media screen and (max-width: $breakpoint-lg) {
            @include gridContainer(1, 2);
        }

        .left {
            padding-bottom: 20px;
            @include centerElement();
            flex-direction: column;

            .project-count {
                font-family: $primary-font;
                font-size: 200px;

                @media screen and (max-width: $breakpoint-lg) {
                    font-size: 150px;
                }
                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 100px;
                }
            }
    
            .project-title {
                font-size: 20px;
                font-family: $primary-font;
                color: $gray;
                font-weight: normal;

                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 16px;
                }
            }
        }

        .right {
            padding-bottom: 20px;
            @include centerElement();
            flex-direction: column;

            .experience-count {
                font-family: $primary-font;
                font-size: 200px;

                @media screen and (max-width: $breakpoint-lg) {
                    font-size: 150px;
                }
                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 100px;
                }
            }
    
            .experience-title {
                font-size: 20px;
                font-family: $primary-font;
                color: $gray;
                font-weight: normal;

                @media screen and (max-width: $breakpoint-sm) {
                    font-size: 16px;
                }
            }
        }
    }
}