@import '../../mixins/mixins';
@import '../../breakpoints/breakpoints';
@import '../../fonts/fonts';
@import '../../colors/colors';
@import '../../spacing/spacing';

.tech-stack {
    width: 500%;
    min-height: 100vh;
    // background-color: $black;
    position: relative;
    background-image: url('../../../assets/images/tech-stack.jpeg');

    @media screen and (max-width: $breakpoint-md) {
        display: none;
    }

    .tech-stack-inner {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: row;
        // background-color: green;

        .bg-header {
            position: absolute;
            transform: translate(-50%, 50%);
            color: $white;
        }
        
        .stack {
            width: 100%;
            height: 100vh;
        }

        .stack1 {
            background-color: $white;
            z-index: 1;
            display: grid;
            grid-template-rows: 1fr 2fr;

            .header {
                @include flexContainer(center, center);

                .stack-header {
                    font-family: $primary-font;
                    font-size: 150px;
                }
            }

            .images {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                gap: 5px;

                .hover {
                    opacity: 1;

                    &:hover {
                        opacity: 0.9;
                        cursor: pointer;
                    }
                }

                .img1 {
                    background-image: url('../../../assets/icons/java.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img2 {
                    background-image: url('../../../assets/icons/javascript.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img3 {
                    background-image: url('../../../assets/icons/python.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img4 {
                    background-image: url('../../../assets/icons/c.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img5 {
                    background-image: url('../../../assets/icons/php.svg');
                    @include adjustImage();
                    background-size: contain;
                }
            }
        }

        .stack2 {
            background-color: $white;
            z-index: 1;
            display: grid;
            grid-template-rows: 1fr 2fr;

            .header {
                @include flexContainer(center, center);

                .stack-header {
                    font-family: $primary-font;
                    font-size: 150px;
                }
            }

            .images {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                .hover {
                    opacity: 1;

                    &:hover {
                        opacity: 0.9;
                        cursor: pointer;
                    }
                }

                .img1 {
                    background-image: url('../../../assets/icons/html.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img2 {
                    background-image: url('../../../assets/icons/sass.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img3 {
                    background-image: url('../../../assets/icons/react.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img4 {
                    background-image: url('../../../assets/icons/reactnative.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img5 {
                    background-image: url('../../../assets/icons/nextjs.svg');
                    @include adjustImage();
                    background-size: contain;
                }
            }
        }
        .stack3 {
            background-color: $white;
            z-index: 1;
            display: grid;
            grid-template-rows: 1fr 2fr;

            .header {
                @include flexContainer(center, center);

                .stack-header {
                    font-family: $primary-font;
                    font-size: 150px;
                }
            }

            .images {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                gap: 10px;

                .hover {
                    opacity: 1;

                    &:hover {
                        opacity: 0.9;
                        cursor: pointer;
                    }
                }

                .img1 {
                    background-image: url('../../../assets/icons/express.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img2 {
                    background-image: url('../../../assets/icons/spring.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img3 {
                    background-image: url('../../../assets/icons/dotnet.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img4 {
                    background-image: url('../../../assets/icons/django.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img5 {
                    background-image: url('../../../assets/icons/laravel.svg');
                    @include adjustImage();
                    background-size: contain;
                }
            }
        }
        .stack4 {
            background-color: $white;
            z-index: 1;
            display: grid;
            grid-template-rows: 1fr 2fr;

            .header {
                @include flexContainer(center, center);

                .stack-header {
                    font-family: $primary-font;
                    font-size: 150px;
                }
            }

            .images {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                .hover {
                    opacity: 1;

                    &:hover {
                        opacity: 0.9;
                        cursor: pointer;
                    }
                }

                .img1 {
                    background-image: url('../../../assets/icons/mysql.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img2 {
                    background-image: url('../../../assets/icons/mongodb.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img3 {
                    background-image: url('../../../assets/icons/neo4j.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img4 {
                    background-image: url('../../../assets/images/healthcare.jpg');
                    @include adjustImage();
                }
                .img5 {
                    background-image: url('../../../assets/images/game-dev.webp');
                    @include adjustImage();
                }
            }
        }
        .stack5 {
            background-color: $white;
            z-index: 1;
            display: grid;
            grid-template-rows: 2fr 1fr 2fr;

            .header {
                @include flexContainer(center, center);

                .stack-header {
                    font-family: $primary-font;
                    font-size: 150px;
                }
            }

            .images {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;

                .hover {
                    opacity: 1;

                    &:hover {
                        opacity: 0.9;
                        cursor: pointer;
                    }
                }

                .img1 {
                    background-image: url('../../../assets/icons/git.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img2 {
                    background-image: url('../../../assets/icons/github.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img3 {
                    background-image: url('../../../assets/icons/docker.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img4 {
                    background-image: url('../../../assets/icons/kubernets.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img5 {
                    background-image: url('../../../assets/icons/figma.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img6 {
                    background-image: url('../../../assets/icons/aws.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img7 {
                    background-image: url('../../../assets/icons/google.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img8 {
                    background-image: url('../../../assets/icons/kafka.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img9 {
                    background-image: url('../../../assets/icons/rabbitmq.svg');
                    @include adjustImage();
                    background-size: contain;
                }
                .img10 {
                    background-image: url('../../../assets/icons/sonarqube.svg');
                    @include adjustImage();
                    background-size: contain;
                }
            }
        }
    }
}