@font-face {
  font-family: "YgroSansBeta-Medium";
  src: url("https://assets.website-files.com/6419c9fdaa2ea509caaed54d/6419cf5e61ea1714903c66ed_YgroSansBeta-Medium.woff2");
}
.tech-stack {
  width: 500%;
  min-height: 100vh;
  position: relative;
  background-image: url("../../../assets/images/tech-stack.jpeg");
}
@media screen and (max-width: 768px) {
  .tech-stack {
    display: none;
  }
}
.tech-stack .tech-stack-inner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.tech-stack .tech-stack-inner .bg-header {
  position: absolute;
  transform: translate(-50%, 50%);
  color: #ffffff;
}
.tech-stack .tech-stack-inner .stack {
  width: 100%;
  height: 100vh;
}
.tech-stack .tech-stack-inner .stack1 {
  background-color: #ffffff;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.tech-stack .tech-stack-inner .stack1 .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech-stack .tech-stack-inner .stack1 .header .stack-header {
  font-family: "YgroSansBeta-Medium";
  font-size: 150px;
}
.tech-stack .tech-stack-inner .stack1 .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}
.tech-stack .tech-stack-inner .stack1 .images .hover {
  opacity: 1;
}
.tech-stack .tech-stack-inner .stack1 .images .hover:hover {
  opacity: 0.9;
  cursor: pointer;
}
.tech-stack .tech-stack-inner .stack1 .images .img1 {
  background-image: url("../../../assets/icons/java.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack1 .images .img2 {
  background-image: url("../../../assets/icons/javascript.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack1 .images .img3 {
  background-image: url("../../../assets/icons/python.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack1 .images .img4 {
  background-image: url("../../../assets/icons/c.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack1 .images .img5 {
  background-image: url("../../../assets/icons/php.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack2 {
  background-color: #ffffff;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.tech-stack .tech-stack-inner .stack2 .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech-stack .tech-stack-inner .stack2 .header .stack-header {
  font-family: "YgroSansBeta-Medium";
  font-size: 150px;
}
.tech-stack .tech-stack-inner .stack2 .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.tech-stack .tech-stack-inner .stack2 .images .hover {
  opacity: 1;
}
.tech-stack .tech-stack-inner .stack2 .images .hover:hover {
  opacity: 0.9;
  cursor: pointer;
}
.tech-stack .tech-stack-inner .stack2 .images .img1 {
  background-image: url("../../../assets/icons/html.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack2 .images .img2 {
  background-image: url("../../../assets/icons/sass.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack2 .images .img3 {
  background-image: url("../../../assets/icons/react.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack2 .images .img4 {
  background-image: url("../../../assets/icons/reactnative.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack2 .images .img5 {
  background-image: url("../../../assets/icons/nextjs.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack3 {
  background-color: #ffffff;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.tech-stack .tech-stack-inner .stack3 .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech-stack .tech-stack-inner .stack3 .header .stack-header {
  font-family: "YgroSansBeta-Medium";
  font-size: 150px;
}
.tech-stack .tech-stack-inner .stack3 .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.tech-stack .tech-stack-inner .stack3 .images .hover {
  opacity: 1;
}
.tech-stack .tech-stack-inner .stack3 .images .hover:hover {
  opacity: 0.9;
  cursor: pointer;
}
.tech-stack .tech-stack-inner .stack3 .images .img1 {
  background-image: url("../../../assets/icons/express.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack3 .images .img2 {
  background-image: url("../../../assets/icons/spring.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack3 .images .img3 {
  background-image: url("../../../assets/icons/dotnet.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack3 .images .img4 {
  background-image: url("../../../assets/icons/django.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack3 .images .img5 {
  background-image: url("../../../assets/icons/laravel.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack4 {
  background-color: #ffffff;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.tech-stack .tech-stack-inner .stack4 .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech-stack .tech-stack-inner .stack4 .header .stack-header {
  font-family: "YgroSansBeta-Medium";
  font-size: 150px;
}
.tech-stack .tech-stack-inner .stack4 .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tech-stack .tech-stack-inner .stack4 .images .hover {
  opacity: 1;
}
.tech-stack .tech-stack-inner .stack4 .images .hover:hover {
  opacity: 0.9;
  cursor: pointer;
}
.tech-stack .tech-stack-inner .stack4 .images .img1 {
  background-image: url("../../../assets/icons/mysql.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack4 .images .img2 {
  background-image: url("../../../assets/icons/mongodb.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack4 .images .img3 {
  background-image: url("../../../assets/icons/postgresql.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack4 .images .img4 {
  background-image: url("../../../assets/images/healthcare.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tech-stack .tech-stack-inner .stack4 .images .img5 {
  background-image: url("../../../assets/images/game-dev.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.tech-stack .tech-stack-inner .stack5 {
  background-color: #ffffff;
  z-index: 1;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}
.tech-stack .tech-stack-inner .stack5 .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech-stack .tech-stack-inner .stack5 .header .stack-header {
  font-family: "YgroSansBeta-Medium";
  font-size: 150px;
}
.tech-stack .tech-stack-inner .stack5 .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}
.tech-stack .tech-stack-inner .stack5 .images .hover {
  opacity: 1;
}
.tech-stack .tech-stack-inner .stack5 .images .hover:hover {
  opacity: 0.9;
  cursor: pointer;
}
.tech-stack .tech-stack-inner .stack5 .images .img1 {
  background-image: url("../../../assets/icons/git.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img2 {
  background-image: url("../../../assets/icons/github.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img3 {
  background-image: url("../../../assets/icons/docker.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img4 {
  background-image: url("../../../assets/icons/kubernets.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img5 {
  background-image: url("../../../assets/icons/figma.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img6 {
  background-image: url("../../../assets/icons/aws.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img7 {
  background-image: url("../../../assets/icons/redis.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img8 {
  background-image: url("../../../assets/icons/kafka.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img9 {
  background-image: url("../../../assets/icons/rabbitmq.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img10 {
  background-image: url("../../../assets/icons/sonarqube.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img11 {
  background-image: url("../../../assets/icons/prometheus.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img12 {
  background-image: url("../../../assets/icons/google.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img13 {
  background-image: url("../../../assets/icons/neo4j.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img14 {
  background-image: url("../../../assets/icons/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img15 {
  background-image: url("../../../assets/icons/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img16 {
  background-image: url("../../../assets/icons/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img17 {
  background-image: url("../../../assets/icons/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img18 {
  background-image: url("../../../assets/icons/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img19 {
  background-image: url("../../../assets/icons/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}
.tech-stack .tech-stack-inner .stack5 .images .img20 {
  background-image: url("../../../assets/icons/");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: contain;
}/*# sourceMappingURL=tech-stack.css.map */