@font-face {
    font-family: 'YgroSansBeta-Medium';
    src: url('https://assets.website-files.com/6419c9fdaa2ea509caaed54d/6419cf5e61ea1714903c66ed_YgroSansBeta-Medium.woff2');
}

$primary-font: 'YgroSansBeta-Medium';