@import '../../mixins/mixins';
@import '../../breakpoints/breakpoints';
@import '../../fonts/fonts';
@import '../../colors/colors';
@import '../../spacing/spacing';

.about-hero {
    @include createDefaultContainer(100%, 40vh);
    padding:  $padding-lg;
    background-color: $white;

    @media screen and (max-width: $breakpoint-sm) {
        padding: $padding-sm;
    }

    .about-hero-inner{
        @include centerInnerContainer(100%, 40vh);
        padding-top: 20px;
        position: relative;

        .header-one {
            font-family: $primary-font;
            font-size: 75px;

            @media screen and (max-width: $breakpoint-lg) {
                font-size: 50px;
            }
            @media screen and (max-width: $breakpoint-sm) {
                font-size: 35px;
            }
        }

        .header-two {
            font-family: $primary-font;
            font-size: 75px;

            @media screen and (max-width: $breakpoint-lg) {
                font-size: 50px;
            }
            @media screen and (max-width: $breakpoint-sm) {
                font-size: 35px;
            }
        }

        .vedio {
            width: 110px;
            height: 110px;
            position: absolute;
            right: 20px;
            top: 50px;
            outline: none;
            border: none;

            @media screen and (max-width: $breakpoint-md) {
                position: relative;
                top: 0;
                right: 0;
                width: 80px;
                height: 80px;
                margin-bottom: 10px;
            }
        }
    }
}