@import '../../mixins/mixins';
@import '../../breakpoints/breakpoints';
@import '../../fonts/fonts';
@import '../../colors/colors';
@import '../../spacing/spacing';

.profile-section {
    @include createDefaultContainer(100%, 10vh);
    padding:  $padding-lg;
    background-color: $white;
    margin-bottom: 20px;
    overflow: hidden;

    @media screen and (max-width: $breakpoint-sm) {
        padding: $padding-sm;
    }

    .profile-section-inner {
        @include centerInnerContainer(100%, 10vh);

        .profile-para {
            font-family: $primary-font;
            font-weight: normal;
            font-size: 15px;
            line-height: 25px;
            text-align: justify;
        }
    }
}